work/
modelsim.ini
transcript
vsim.wlf
*.wlf
*.vcd
*.log
*.jou
*.str
*.bak
*.tmp

*_vivado/
vivado/
.cache/
.runs/
.hw/
.sim/
.ip_user_files/
*.bit
*.dcp
*.ltx
*.xpr
*.rpt
*.rpx
*.pb
*.vdi
*.xml
*.js
*.sh
*.bat
*.rst